DB_HOST=database
DB_PORT=5432
DB_USER=safetalk
DB_PASS=safetalk
DB_NAME=safetalk

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET_TOKEN=
